.wrapper {
  display: block;
  background-color: #917c918e;
  font-family: "Elms Sans", sans-serif;;

}

.separator {
  width: 100%;
  height: 200px;
  
}
.separator h1 {
  text-align: center;
  font-size: 300%;
  padding: 1.5em;
  border: 2px solid black;
  margin: 1em;
  background-color: aliceblue;
}

nav {
  text-transform: uppercase;
  /* optional */
  background-color: aliceblue;
  /* change this to your color choice */
  
}

.direct {
  display: grid;
  grid-template-columns: 1fr 4fr;
  border: 2px solid black;
  text-align: center;
  
}

.page_links {
  display: grid;
  border: 2px solid black;
}

.page_links a {
  padding: 1rem 0 0 0;
  /* space between links */
  text-decoration: none;
  /* removes link underlines */
  font-size: 130%;
  border: 2px solid black;
  margin: .5rem
}

nav ul {
  margin: 0;
  /* not needed if you're using
padding: 0; a reset style sheet */
}

nav li {
  list-style-type: none;
  /* removes bullet points */
}

nav a {
  display: block;
  text-align: center;

  /* add a color for link text */
  padding: 1em 0;
  /* space between links */
  text-decoration: none;
  /* removes link underlines */
  border-bottom: 1px solid silver;
  /* adds a line below each link */
}

a {
    color: #612AFA;
}

nav p {
  text-align: center;
  font-weight: bold;
  padding: 0rem 0 0 0;
  margin-bottom: 0;
  border: 2px solid #612AFA;
}

a:hover {
  /* mouse hover effect */
  background-color: #ffceff;
  /* change this to your color choice */
}

nav li:last-of-type a {
  /* removes the border from the last link */
  border-bottom: none;
}


.p_n_vid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  text-align: center;
  background-color: #6e5a6e;
  padding-bottom: .5rem;
}

.pn {
  border: 1px solid #612AFA;
  background: #845BF8;
  background: linear-gradient(90deg, rgba(132, 91, 248, 1) 0%, rgba(240, 248, 255, 1) 51%, rgba(255, 206, 255, 1) 100%);
}

.np {
  border: 1px solid #612AFA;
  background: #FFCEFF;
background: linear-gradient(90deg, rgba(255, 206, 255, 1) 0%, rgba(240, 248, 255, 1) 51%, rgba(132, 91, 248, 1) 100%);
}

.cg {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 10px;
  border: 2px solid #612AFA;
  text-align: center;
  margin: 1rem;
  
}


.cg h3 {
  font-size: 120%;
  border: 2px solid #612AFA;
  padding: .5rem;
  margin: .5rem;
}

li {
  list-style-type: none;
}

.ts {
  display: grid;
  margin: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  border: 2px solid #612AFA;
  text-align: center;
 
}

.ts h3 {
  border: 2px #612AFA solid;
  padding: .5rem;
  margin: .5rem;

}



h2 {
  font-size: 140%;
  padding: .5rem 2rem 1rem 2rem;
}

.in_grab {
  border: 2px solid #612AFA;
  margin: 1rem;
  padding: 1rem;
}
