.wrapper {
  font-family: "Elms Sans", sans-serif;;
}

nav {
  text-transform: uppercase;
  /* optional */
  background-color: aliceblue;
  /* change this to your color choice */
  border: 2px solid #612afa;
}

nav ul {
  margin: 0;
  /* not needed if you're using
padding: 0; a reset style sheet */
}

nav li {
  list-style-type: none;
  /* removes bullet points */
}

nav a {
  display: block;
  text-align: center;
  color: #845bf8;
  /* add a color for link text */
  padding: 1em 0;
  /* space between links */
  text-decoration: none;
  /* removes link underlines */
  border-bottom: 1px solid silver;
  /* adds a line below each link */
}

a:hover {
  /* mouse hover effect */
  background-color: #ffceff;
  /* change this to your color choice */
}

nav li:last-of-type a {
  /* removes the border from the last link */
  border-bottom: none;
}

.dthrow {
  font-size: 220%;
  padding: 1rem;
  border: 2px solid #612afa;
  margin-bottom: 0;
  font-weight: bold;
  background-color: #845bf8;
}

.wrapper {
  margin: 0 auto;
  max-width: 960px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
}


body {
  background-color: #917c918e;
}

header {
  display: flex;
  text-align: center;
  grid-column: span 2;
  font-size: 300%;
  background-color: aliceblue;
  justify-content: space-around;
  border: 2px solid #612afa;
}

header img {
  height: 50px;
}

main {
  text-align: center;
  background-color: aliceblue;
  border: 2px solid #612afa;

}

main a {
  display: block;
  text-align: center;
  color: #845bf8;
  /* add a color for link text */
  padding: 1em 0;
  /* space between links */
  text-decoration: none;
  /* removes link underlines */
  border-bottom: 1px solid silver;
  /* adds a line below each link */
}

footer {
  clear: both;
  grid-column: span 2;
}

